.container-fluid{
    background-color: rgba(156, 143, 128, 0.56);
    
    
}
.para{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr 0.1fr;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    margin-left: 100%;
    object-position: center;
    object-fit: cover;
 }
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
html{
    height: 100vh;
}

.img{
     grid-area: 2;
     
  }
    


.three{
    display: grid;
    grid-column-start: 0;
    grid-column-end: 2;

}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}



